.accordian {
    margin: 20px;
    
}

.accordian-details {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
}

.desc {
    padding-top: 5px;
    padding-bottom: 5px;
}

.desc-detail {
    padding-right: 10px; 
}