.optional-signup-page {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #fff;
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(90px, auto);
    min-height: 90vh;
}

.signUp-center-tab>div>div {
    flex-direction: row;
    justify-content: center;
}

.signUp-center-tab {}

