@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;500&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: $font-roboto;
}

.login-main-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  background: #79C1DD;
}

.login-mo-logo-container {
  text-align: end;
  width: 95%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.login-mo-logo {
  object-fit: contain;
  // width: 100px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.20)) drop-shadow(0px 3px 14px rgba(0, 0, 0, 0.12)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14));
}

.login-heading {
  font-family: $font-poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 100px; /* identical to box height, or 106% */
  color: #585858;
}

.login-sub-heading {
  text-align: center;
  font-size: 1.3rem;
  color: #585858;
  font-weight: 400;
}

.login-signup {
  color: #9D9D9D;
  font-weight: 500;

}

.login-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3;
}

.login-extensions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-top: 50px;

  .login-icons {
    color: #9D9D9D;
    justify-content: left;
  }

  .login-privacy {
    color: #B4B4B4;
    font-weight: 500;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  /* height: 20vh; */
}

.signUp-link {
  color: #00B7FD;
  cursor: pointer;
}


@media (max-width: 699px) {
  .login-main-page > .login-section1, 
  .login-main-page > .login-section2 {
    width: 100% !important;
    min-height: 100vh !important;
}

}


  .login-section1,
  .login-section2 {
    width: 50%;
    min-height: 100vh;
  }
  
  .login-section1 {
    background: #79C1DD;
    /* box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.14), 3px 0px 14px rgba(0, 0, 0, 0.12), 5px 0px 5px rgba(0, 0, 0, 0.2); */
    z-index: 100;
  }
  
  .login-section2 {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0px 19px rgba(0, 0, 0, 0.304) inset;
  }
