.attach{

}
input[type='file']{
    display: none;
}
.attach-container{
    /* border: 1px dotted rgb(54, 54, 54); */
    height: 100px;
    width: 200px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23333' stroke-width='2' stroke-dasharray='5%2c 10' stroke-dashoffset='13' stroke-linecap='round'/%3e%3c/svg%3e"),
    linear-gradient(to bottom, grey,black);

    border-radius: 12px;
}