.reset-account-form{
    display :flex ;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.reset-page{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

}
.reset-mo-logo-container {
    width: 100%;
    text-align: start;
    padding-left: 20px;
    padding-top: 15px;
}

.reset-mo-logo {
    object-fit: contain;
    width: 100px;
}