
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;500&display=swap');


hr{
    color: grey;
    // border-bottom: 1px solid rgb(186, 185, 185);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0 2px;
}

// .card {
//     padding: 0px 10px;
    // background-color: rgb(252, 253, 253);
//     border-radius: 10px;
//     border: 1px solid rgb(154, 152, 152);
//     box-shadow: 1px 2px 9px 2px rgb(154, 152, 152);
// }
// .cardHead{
//     font-family: 'Geologica', sans-serif;
//     font-size: larger;
//     color: rgb(61, 60, 60);
//     font-weight: 500;
//     margin: 2px;
// }
// .subHeading{
//     font-family: 'Geologica', sans-serif;
//     font-size: 1rem;
//     color: rgb(71, 92, 140);
//     font-weight: 300;
//     margin: 2px;
// }