.provider-card{
    padding:20px;
    
}
.provider-sub-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.create-new-project-main-page{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.create-new-project-component{
    margin-left: 50px;
}
