

.filepond--root *{
    background-color: #FFFFFF !important;
}

.filepond--label-action{
    color: blue;
}
.filepond--drop-label{
    border-radius: 5px;
    padding: 0.625rem;
    border: 1px dashed #B4B4B4;
    background-color: #FFF;
    margin-left: 29.63rem ;
    margin-right: 29.63rem;
}


.filepond--credits{
    display: none;
}





/* .__className_0ec1f4{
    background-color:black;
}
.filepond--drip{
    background-color: #FFF;
} */
